@inherits LayoutComponentBase

<div class="container" style="width:100%;padding:0;">
	<NavMenu />
	<img class="dnrlogo" src="/logo-wide.jpg" />
	<main style="display:block;clear:both;">
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
